<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form class="" action="/movies" method="get">
      <input type="text" name="search[movie]" value="">
    </form>



    <table>
      <thead>
        <tr>
          <td>
            Movie
          </td>
          <td>
            Year
          </td>
        </tr>
      </thead>
    <%@movies.each do |movie| %>
      <tr>
        <td>
          <%=movie.name%>
        </td>
        <td>
          <%=movie.year%>
        </td>
        
      </tr>
    <%end%>
    </table>

  </body>
</html>
