
<%= render "navbar" %>

<form class="" action="/movies" method="get">
  <input type="text" name="search[movie]" value="">
</form>

    <table>
      <thead>
        <tr>
          <td>
            Movie
          </td>
          <td>
            Year
          </td>
        </tr>
      </thead>
    <%@movies.each do |movie| %>
      <tr>
        <td>
          <%=movie.name%>
        </td>
        <td>
          <%=movie.year%>
        </td>
        <td>
          <%movie.songs.name.each do |song|%>
          <ul>
            song.name
          </ul>
          <%end%>
        </td>
      </tr>
    <%end%>
    </table>
