


<div class="row">
  <div class="col s12">

    <container class="main-head">
      <div id="header-image" class="header">
      </div>
      <h1 class="header">soundtrak</h1>
    </container>
  </div>
</div>

<div class="row">
  <div class="col s12">
    <h2 id="tagline" class = 'red-text text-accent-2'>Listen to the movies.  <a id="search-button" class="btn-floating btn-small waves-effect waves-light red accent-2" href="/search"><i class="material-icons">search</i></a> </h2>
  </div>
</div>
