<nav>
  <div class="nav-wrapper">
    <a href="/" id="nav-logo">soundtrak</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="/">Home</a></li>
      <li><a href="/log_in">Log In</a></li>
      <li><a href="/signup">Sign Up</a></li>
      <li><a href="/search">Search</a></li>
      <li><a href="/users">Community</a></li>
      <li><a href="/about">About Us</a></li>
    </ul>
  </div>
</nav>
