// require welcome.scss

 @import "materialize";
 @import url(https://fonts.googleapis.com/css?family=Julius+Sans+One);
 @import url(https://fonts.googleapis.com/css?family=Yellowtail);
 @import url(https://fonts.googleapis.com/css?family=Josefin+Sans:300);

$header-font: 'Julius Sans One', sans-serif;
$sub-head-font: 'Yellowtail', cursive;
$main-font: 'Josefin Sans', sans-serif;
$header-color: rgb(241, 244, 247);
$sub-head-text-color: #e57373;
$primary-text-color: #212121;
$background-color: #fafafa;


html{
  background-color: $background-color;
}

body.homepage{
  background-image: url('./Black-Vinyl-Wallpapers.png');
  height: 800px;
  width: 100%;
  background-size: cover;
}

body{
  font-family: $main-font;
  font-size: 20px;
  color: $primary-text-color;
}

h2{
  font-family: $sub-head-font;
  color: $sub-head-text-color;
  font-size: 2em;
}

li {
  color: $sub-head-text-color;
}

a{
  color: $sub-head-text-color;
}

#tagline{
  margin-top: -3%;
  margin-left: 40%;
}

.header{
  margin-top: 38%;
  font-family: $header-font;
  font-size: 5.25em;
  color: $header-color;
  display: inline-block;
  margin-left: 1%;
  margin-right: 1%;
}

#header-image{
  height: 60px;
  width: 60px;
  background-image: url("./header-image.gif");
  background-size: contain;
}
